= simple_form_for @vendor do |f|
  = f.input :name
  = f.input :url
  = f.input :description
  = f.input :address
  = f.input :latitude
  = f.input :longitude
  = f.label :date_open
  = f.text_field :date_open, as: :date, :class => "vendor_opened_on"
  = f.label :date_closed
  = f.text_field :open_time, as: :time, :class => "vendor_opened_on_time"
  = f.label :close_time
  = f.text_field :close_time, as: :time, :class => "vendor_opened_on_time"
  = f.file_field :avatar 
  = f.button :submit