/ -if vendor.approved != false
/   %div.truckentry.vendor-closed
/     %div.truckname.container
/       %div
/         = link_to vendor.name, controller: "vendors", action: "show", id: vendor
/         %div.truckdescription
/           =vendor.description
/           %br
/           %a{:href => vendor.url, :target => "_blank"}=vendor.url
/           -if current_user == true && openVendor.user_id == current_user.id || current_user == true && current_user.admin
/             %button.btn.btn-default.create-button= link_to "+ Edit Vendor", edit_vendor_path(id: vendor.id)
/           -if current_user == true && current_user.admin
/             - if vendor.approved != true
/               %button.unapproved.btn 
/                 = link_to("Pending Approval", vendor_path(vendor.id, "vendor[approved]" => true), method: :put, :data => {:confirm => 'Are you sure?'})
/             -elsif vendor.approved != false
/               %button.unapproved.btn
/                 = link_to("Approved", vendor_path(vendor.id, "vendor[approved]" => false), method: :put, :data => {:confirm => 'Are you sure?'})
/           %h4
/             CLOSED
/     %a.distancecontainer{href: "https://maps.google.com?saddr=Current+Location=#{vendor.latitude},#{vendor.longitude}", target: '_blank'}
/       %div.numericdistance
/       - if vendor.geocoded?                  
/         = vendor.distance_from([request.location.latitude, request.location.longitude]).round(2)
/       %br
/       %div.distanceunit
/         mi

/ -elsif current_user == true && current_user.admin == true
/ %div.truckentry.vendor-closed
/   %div.truckname.container
/     %div
/       = link_to vendor.name, controller: "vendors", action: "show", id: vendor
/       %div.truckdescription
/         =vendor.description
/         %br
/         %a{:href => vendor.url, :target => "_blank"}=vendor.url
/         -if current_user == true && vendor.user_id == current_user.id || current_user == true && current_user.admin
/           %button.btn.btn-default.create-button= link_to "+ Edit Vendor", edit_vendor_path(id: vendor.id)
/         -if current_user == true && current_user.admin
/           - if vendor.approved != true
/             %button.unapproved.btn 
/               = link_to("Pending Approval", vendor_path(vendor.id, "vendor[approved]" => true), method: :put, :data => {:confirm => 'Are you sure?'})
/           -elsif vendor.approved != false
/             %button.unapproved.btn
/               = link_to("Approved", vendor_path(vendor.id, "vendor[approved]" => false), method: :put, :data => {:confirm => 'Are you sure?'})
/         %h4
/           CLOSED
/   %a.distancecontainer{href: "https://maps.google.com?saddr=Current+Location=#{vendor.latitude},#{vendor.longitude}", target: '_blank'}
/     %div.numericdistance
/     - if vendor.geocoded?                  
/       = vendor.distance_from([request.location.latitude, request.location.longitude]).round(2)
/     %br
/     %div.distanceunit
/       mi













-if vendor.approved != false
  -if current_user === true
    %div.vendor-edit-container
      -if current_user == true && vendor.user_id == current_user.id || current_user == true && current_user.admin
        %button.btn.btn-default.create-button= link_to "+ Edit Vendor", edit_vendor_path(id: vendor.id)
  %div.vendor-container
    %div.vendor-header
      %div.vendor-distance
        %span.distance-number
          - if vendor.geocoded?                  
            = vendor.distance_from([38.833882,-104.821363]).round(2)
            / # = vendor.distance_from([request.location.latitude, request.location.longitude]).round(2)
        %span.distance-miles
          miles
      %div.vendor-name
        %div.vendor-name-text
          = link_to vendor.name, controller: "vendors", action: "show", id: vendor
        %div.vendor-description-text
          = truncate(vendor.description, :length => 34)
    %div.vendor-left-content
      %div.vendor-time
        %div.open-closed
          OPEN
        %div.open-time
          till 2pm
    %div.vendor-right-content
      %div.vendor-menu
      %a{href: vendor.url, target: '_blank'}
        %div.vendor-website
          WEBSITE
      %a{href: "https://maps.google.com?saddr=Current+Location=#{vendor.latitude},#{vendor.longitude}", target: '_blank'}
        %div.vendor-map
          MAP
-elsif current_user == true && current_user.admin == true
  %div.vendor-edit-container
    -if current_user == true && vendor.user_id == current_user.id || current_user == true && current_user.admin
      %button.btn.btn-default.create-button= link_to "+ Edit Vendor", edit_vendor_path(id: vendor.id)
    -if current_user == true && current_user.admin
      - if vendor.approved != true
        %button.unapproved.btn 
          = link_to("Pending Approval", vendor_path(vendor.id, "vendor[approved]" => true), method: :put, :data => {:confirm => 'Are you sure?'})
      -elsif vendor.approved != false
        %button.unapproved.btn
          = link_to("Approved", vendor_path(vendor.id, "vendor[approved]" => false), method: :put, :data => {:confirm => 'Are you sure?'})
  %div.vendor-container.vendor-closed
    %div.vendor-header
      %div.vendor-distance
        %span.distance-number
          - if vendor.geocoded?                  
            = vendor.distance_from([38.833882,-104.821363]).round(2)
            / # = vendor.distance_from([request.location.latitude, request.location.longitude]).round(2)
        %span.distance-miles
          miles
      %div.vendor-name
        %div.vendor-name-text
          = link_to vendor.name, controller: "vendors", action: "show", id: vendor
        %div.vendor-description-text
          = truncate(vendor.description, :length => 34)
    %div.vendor-left-content
      %div.vendor-time
        %div.open-closed
          OPEN
        %div.open-time
          till 2pm
    %div.vendor-right-content
      %div.vendor-menu
      %a{href: vendor.url, target: '_blank'}
        %div.vendor-website
          WEBSITE
      %a{href: "https://maps.google.com?saddr=Current+Location=#{vendor.latitude},#{vendor.longitude}", target: '_blank'}
        %div.vendor-map
          MAP
