%div.vendor-bg
%div.vendors-container
  %div.headerblue
    %div.nav-header-text
      = text_field_tag :search, params[:search], class: "span2", placeholder: "Search Vendors"
      %button.btn{:type => "submit"} Submit
      %h1 
        = link_to "WTT", root_path
      -if user_signed_in?
        = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
  -if current_user
    Logged in as 
    = current_user.email
  %div.centeredtruckentries
  = render partial: "openVendor", collection: @openVendors
  = render partial: "vendor", collection: @vendors

  - if current_user === true
    %button.btn.btn-default.create-button= link_to "+ New Vendor", new_vendor_path